[server]
daemon = true
frontend = "/opt/tk/vue"
upload = "/opt/tk/uploads"
threads = {{with .Env.THREADS}}{{.}}{{else}}1{{end}}
secrets = "{{with .Env.SECRETS}}{{.}}{{else}}/var/run/secrets{{end}}"

[bus]
host = "{{with .Env.BUS_HOST}}{{.}}{{end}}"

[frontdoor]
host = "{{with .Env.FRONTDOOR_HOST}}{{.}}{{end}}"

[blob]
endpoint = "{{with .Env.S3_ENDPOINT}}{{ . }}{{end}}"
region = "{{with .Env.S3_REGION}}{{ . }}{{end}}"
bucket = "{{with .Env.S3_BUCKET}}{{ . }}{{end}}"
id = "{{ with .Env.S3_USER}}{{ . }}{{end}}"
secret = "{{ with .Env.S3_SECRET}}{{ . }}{{end}}"
token = "{{ with .Env.S3_TOKEN}}{{ . }}{{end}}"

[search]
insert = {{with .Env.SEARCH_INSERT}}{{ . }}{{else}}20{{end}}
delete = {{with .Env.SEARCH_DELETE}}{{ . }}{{else}}2{{end}}
substitute = {{with .Env.SEARCH_SUBSTITUTE}}{{ . }}{{else}}30{{end}}
maxDistance = {{with .Env.SEARCH_MAX_DISTANCE}}{{ . }}{{else}}75{{end}}